body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 0;
}

#noseContainer {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

#nose {
    width: 300px;
    height: auto;
}

.inhalation-sign, .exhalation-sign, .hold-sign {
    position: absolute;
    display: none;
    width: 100px;
    height: auto;
}

.inhalation-sign {
    bottom: 10px;
    left: 10px;
}

.exhalation-sign {
    bottom: 10px;
    right: 10px;
}

.hold-sign {
    bottom: 10px;
    left: calc(50% - 50px);
}

select, button {
    font-size: 16px;
    padding: 5px;
    margin: 10px;
}

#totalTime, #totalRemainingDisplay {
    font-size: 1.5em;
    margin-top: 10px;
}

#actionDisplay {
    font-size: 2em;
    font-weight: bold;
}

#startButton {
    font-size: 16px;
    padding: 10px 20px;
}
