.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-top: 20px; /* Adjust as needed */
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    overflow: hidden;
}

.nose-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.inhalation-sign {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 50%);
    max-width: 50px; /* Adjust as needed */
}

.exhalation-sign {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 50%);
    max-width: 50px; /* Adjust as needed */
}

.hold-sign {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50px; /* Adjust as needed */
}
